@charset "utf-8";
/* CSS Document */
body{
	align-items: center;
	text-align: center;
	text-align: justify;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
}
.title{
	text-align: 
		center;
}
